
:root {
    --bool-heade-bg-color: #3161e0;
    --bool-link-color: #f6f6f6;
    --bool-footer-bg-col: #23272a;
    --bool-main-bg-col: #f2f5fd;
    --bool-footer-txt-col: #8ea1e1;
    --bool-buttons-bg-col: #8ea1e1;
}

/* #region global */

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--bool-link-color);
}

ul{
    list-style: none;
}
li{
    margin: 0.25rem;
}

/* #endregion */

/* #region utility */

.container {
    margin-left: 20%;
    margin-right: 20%;
    height: max-content;
    max-width: 60%;
    width: 2500px;
}

.df {
    display: flex;
}

.txt-c{
    text-align: center;
}

.content-box-big{
    order: 1;
    flex-grow: 2;
}

.content-box-small{
    order: 2;
    flex-grow: 1;
}

.rev{
    flex-direction: row-reverse;
}

.txt-col-white{
    color: white;
}

.wave{
    width: 100%;
    display: block;
}

.wave-rev{
    width: 100%;
    transform: scaleY(-1)
}

/* #endregion */

/* #region header */

header {
    background-color: var(--bool-heade-bg-color);
}

nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.header-links {
    justify-content: space-between;
    width: 600px;
    max-width: 80%;
    text-decoration: none;
}

.login-button {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
}

/* #endregion */

/* #region banner */

.banner {
    background-image: url(../img/jumbo.png);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.title {
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem;
    color: white;
    padding: 5rem;
}

.download {
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
}

.browser {
    background-color: black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.button-spacing {
    gap: 3rem;
}

/* #endregion */

.where {
    padding: 5rem;
}

.how{
    padding: 5rem;
    background-color: var(--bool-main-bg-col);
}

.who {
    padding: 5rem;
}

/* #region ending */

.end {
    padding: 5rem;
    background-color: var(--bool-main-bg-col);
}

.ending {
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem;
    padding: 5rem;
}

.download-end {
    color: white;
    background-color: var(--bool-heade-bg-color);
    border-radius: 1rem;
    padding: 0.5rem;
}

/* #endregion */

/* #region footer */

footer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bool-footer-bg-col);
}

.footer-top {
    flex-flow: row;
    justify-content: center;
    align-items: start;
    margin: 3rem 0 1rem;
}

.ita-png{
    height: 1rem;
    width: 2rem;
    vertical-align: middle;
}

.footer-bottom{
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-top: white 1px solid;
}

.register-button{
    color: white;
    background-color: var(--bool-heade-bg-color);
    border-radius: 1rem;
    padding: 0.5rem;
}



.txt-footer-col{
    color: var(--bool-footer-txt-col);
}

.social{
    margin-top: 1rem;
    width: 50%;
    justify-content: space-between;
}
/* #endregion */